* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background: url(../images/pattern-background-desktop.svg) hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}
h1 {
  font-size: 1.5em;
}

.light-text {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 0.9em;
}
.container {
  background-color: white;
  width: 430px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
}
.container > img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin: 0;
}
.container > * {
  margin: 25px 16px;
}
.main-p {
  width: 70%;
  margin: 25px auto;
}
.annual-plan {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: auto;
  border-radius: 8px;
  min-width: 275px;
  width: 80%;
}
.annual-plan a {
  margin-left: 40px;
  font-size: small;
}
.annual-plan a:hover {
  text-decoration: none;
}
button {
  width: 85%;
  height: 60px;
  border-radius: 8px;
  border: none;
}
button:hover {
  cursor: pointer;
}
.btn {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}
.btn1 {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 2px 3px 10px gray;
}
.btn1:hover {
  opacity: 0.8;
}
.btn2 {
  background-color: white;
}
.btn2:hover {
  color: black;
}
@media (max-width: 500px) {
  body {
    height: 100vh;
    background: url(../images/pattern-background-mobile.svg) hsl(225, 100%, 94%);
  }
  .main-p {
    font-size: 1.1rem;
    width: 80%;
  }
  .container {
  }
  .annual-plan {
    padding: 10px;
  }
}
